@charset "UTF-8";
body {
    min-height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
background-image: url(images/partlycloudy.jpg);
}